body {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #d4d7db;
    background-size: cover;
    background-position: center;
    margin: 0;
    
    color:white;
    animation: fadeIn 2s ease-in-out;
}
.top-nav {
    background-color: #2C3E50;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-left h2 {
    margin-left: 10px;
    font-size: 24px;
}

.nav-right {
    display: flex;
    align-items: center;
}

.notification-btn, .back-btn {
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
    margin-right: 10px;
}
.container {
    max-width: 400px;
    margin: 100px auto;
    background: rgba(0, 0, 0, 0.7);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    text-align: center;
    animation: slideIn 1s ease-in-out;
}

h1 {
    color: #4CAF50;
    margin-bottom: 20px;
    animation: zoomIn 1.5s ease-in-out;
}

.form-group {
    margin-bottom: 20px;
}



select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    background-color: rgba(255, 255, 255, 0.2);
    color: #090808;
}

.submit-btn {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: #45a049;
}
.popup-container {
    display: none;
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: #2C3E50;
    padding: 20px;
    border-radius: 10px;
    color: white;
}

.popup-container.show {
    display: block;
}

#email-id {
    margin-bottom: 10px;
}

.popup-menu {
    list-style: none;
    padding: 0;
}

.popup-menu li {
    margin: 10px 0;
}

.popup-menu li a {
    color: white;
    text-decoration: none;
}

.popup-menu li a:hover {
    background-color: white;
    color: #2C3E50;
    padding: 5px;
    border-radius: 5px;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes slideIn {
    from { transform: translateY(50px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}

@keyframes zoomIn {
    from { transform: scale(0.5); opacity: 0; }
    to { transform: scale(1); opacity: 1; }
}